.Principal{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 180px;
    padding-top: 170px;

}
.Container {
    width: 240px;
    height: 240px;
    color: aliceblue;
    border: 1px solid #2e344e;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.Line {
    margin-top: 5px;
    width: 150px;
    border-top: 1px solid #2e344e;
    align-self: center;
}

.Company {
    margin-top: 8px;
    width: 190px;
    height: 25px;
    background-color: #0d6efd;
    align-self: center;
    padding-left: 60px;
    margin-bottom: 10px;

}

.CompanyU {
    margin-top: 8px;
    width: 190px;
    height: 25px;
    background-color: #0d6efd;
    align-self: center;
    padding-left: 28px;
    margin-bottom: 10px;
}