.Card {
    height: 270px;
    width: 303px;
    border: 1px solid aliceblue;
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: aliceblue;
}

.Card img {
    width: 300px;
    height: 150px;
}

.Card h6 {
    color: #0d6efd
}

.Container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-left: 15px;
    padding-top: 15px;
    flex-wrap: wrap;
}