.Card {
    /* height: 270px; */
    width: 303px;
    border: 1px solid aliceblue;
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: aliceblue;


}

.Card span {
    padding-left: 5px;
}

.Card h6 {
    padding-left: 5px;
}

.Card img {
    width: 300px;
    height: 150px;
}

.Card h6 {
    color: #0d6efd
}

.Container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 100px;
    padding-top: 15px;
    flex-wrap: wrap;
    /* height: 100vh; */
    justify-content: flex-start;
}


.main {
    display: flex;
    flex-direction: column;
  }
  
  .main h2 {
    padding-top: 20px;
    padding-left: 20px;
    color: aliceblue;
  }

  @media screen and (max-width: 939px) {
    
    .Container {
        padding-top: 100px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 200px;
        flex-wrap: wrap;
        padding-left: 0px;

    }
  }
   

